.terraform
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.env
tf.plan
*.plan
.terraform.tfstate.lock.info
clustername_kubeconfig.yaml
k3s_kubeconfig.yaml
k3s_kustomization_backup.yaml
venv
__pycache__
*.key
*.pub